.article {
    &__inner {
        display: grid;
        grid-gap: var(--length-7);
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        & > div {
            grid-column: span 2;
        }
    }
    &__title-bar {
        display: flex;
    }
    &__title {
        margin-bottom: var(--unit);
        font-size: var(--font-size-large);
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 300;
    }
    &__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--length-6);
        height: var(--length-6);
        margin-left: var(--length-4);
        font-size: var(--font-size-medium);
        font-weight: 300;
        border: 1px solid var(--color-light);
        border-radius: 50%;
        opacity: 0.75;
    }
    &__genres {
        list-style: none;
        padding: 0;
        margin-bottom: var(--length-4);
        font-weight: 300;
        opacity: 0.5;

        li {
            display: inline;
        }
    }
    &__info {
        margin-bottom: var(--length-4);
        font-size: calc((24 / 16) * 1rem);
        line-height: 1.3333333;
        font-weight: 300;
        color: var(--color-accent);
        & > *:first-child {
            margin-right: var(--length-6);
        }
    }
    &__description {
        font-size: var(--font-size-medium);
        font-weight: 300;
        opacity: 0.5;
    }
}