.footer {
    height: var(--length-9);
    background-color: var(--color-gray-dark);
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__logo {
        
    }
}