/*
 * reset
 * https://piccalil.li/blog/a-modern-css-reset/
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
ul[role="list"],
ol[role="list"] {
    list-style: none;
}
html:focus-within {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* end of reset */

/* custom properties */
:root {
    --unit: 1rem;

    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --font-family-primary: var(--font-family-system);

    --line-height-base: 1.5;

    --color-accent: #F65261;
    --color-dark: #232323;
    --color-gray-dark: #424242;
    --color-gray-medium: #555;
    --color-light: #fff;
}

@media (min-width: 67.5em) {
    :root {
        --unit: 1.5rem;
    }
}

/*
 * element level styles
 */
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family-primary);
    line-height: var(--line-height-base);
    font-size: 20px;
}
:focus {
    outline: 3px dashed var(--color-accent);
    outline-offset: 0.125rem;
}
